# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
# a lot of my work on the project was looking back at older work for project 15 so I needed to account for ignoring it.
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backendREFERENCE/.editorconfig
backendREFERENCE/app.js
backendREFERENCE/.eslintrc.js
backendREFERENCE/.gitignore
backendREFERENCE/package-lock.json
backendREFERENCE/package.json
backendREFERENCE/README.md
backendREFERENCE/controllers/clothingItems.js
backendREFERENCE/controllers/users.js
backendREFERENCE/errors/cErrors.js
backendREFERENCE/errors/errors.js
backendREFERENCE/middlewares/auth.js
backendREFERENCE/middlewares/errorHandler.js
backendREFERENCE/middlewares/existingUser.js
backendREFERENCE/middlewares/logger.js
backendREFERENCE/middlewares/validation.js
backendREFERENCE/models/clothingItems.js
backendREFERENCE/models/user.js
backendREFERENCE/routes/clothingItems.js
backendREFERENCE/routes/index.js
backendREFERENCE/routes/users.js
backendREFERENCE/utils/config.js
REFERENCE/index.css
REFERENCE/main.jsx
REFERENCE/blocks/App.css
REFERENCE/blocks/ClothesSection.css
REFERENCE/blocks/deleteModal.css
REFERENCE/blocks/Footer.css
REFERENCE/blocks/Header.css
REFERENCE/blocks/ItemCard.css
REFERENCE/blocks/ItemModal.css
REFERENCE/blocks/Main.css
REFERENCE/blocks/Modal.css
REFERENCE/blocks/ModalWithForm.css
REFERENCE/blocks/Profile.css
REFERENCE/blocks/Sidebar.css
REFERENCE/blocks/ToggleSwitch.css
REFERENCE/blocks/WeatherCard.css
REFERENCE/components/AddItemModal.jsx
REFERENCE/components/App.jsx
REFERENCE/components/ChangeProfileModal.jsx
REFERENCE/components/ClothesSection.jsx
REFERENCE/components/DeleteModal.jsx
REFERENCE/components/Footer.jsx
REFERENCE/components/Header.jsx
REFERENCE/components/ItemCard.jsx
REFERENCE/components/ItemModal.jsx
REFERENCE/components/LoginModal.jsx
REFERENCE/components/Main.jsx
REFERENCE/components/ModalWithForm.jsx
REFERENCE/components/Profile.jsx
REFERENCE/components/RegisterModal.jsx
REFERENCE/components/RouteProtector.jsx
REFERENCE/components/Sidebar.jsx
REFERENCE/components/ToggleSwitch.jsx
REFERENCE/components/WeatherCard.jsx
REFERENCE/images/heartEmpty.svg
REFERENCE/images/heartFull.svg
REFERENCE/images/react.svg
REFERENCE/images/Union (1).svg
REFERENCE/images/wtwr°.png
REFERENCE/images/weathericons/Cloudy.png
REFERENCE/images/weathericons/Ellipse 14.png
REFERENCE/images/weathericons/Foggy.png
REFERENCE/images/weathericons/Moon.png
REFERENCE/images/weathericons/Rainy.png
REFERENCE/images/weathericons/Snowy.png
REFERENCE/images/weathericons/Thunderstorm.png
REFERENCE/utils/auth.js
REFERENCE/utils/constants.js
REFERENCE/utils/dbAPI.js
REFERENCE/utils/weatherAPI.js
