@import url("./blocks/About.css");
@import url("./blocks/App.css");
@import url("./blocks/Footer.css");
@import url("./blocks/Header.css");
@import url("./blocks/LoginModal.css");
@import url("./blocks/Main.css");
@import url("./blocks/Modal.css");
@import url("./blocks/ModalWithForm.css");
@import url("./blocks/Navigation.css");
@import url("./blocks/NewsCard.css");
@import url("./blocks/NewsCardList.css");
@import url("./blocks/PreLoader.css");
@import url("./blocks/SavedNews.css");
@import url("./blocks/SearchForm.css");

@font-face {
  src: url("./vendor/fonts/RobotoSlab-Medium.ttf") format("TTF");
  font-family: "Roboto Slab";
}

@font-face {
  src: url("./vendor/fonts/Roboto-Medium.ttf") format("TTF");
  font-family: "Roboto";
}
